<% @places.each do |place| %>
	<div class="booyah-box col-xs-offset-1">
			<h1><%= place.name %></h1>
			<i><%= place.address %></i><br /><br />
			<p><%= place.description %></p><br />
	</div>

	<%-# KAMARI HELPER FOR PAGINATION -%>
	<%= paginate @places %>
	
<% end %>
